<div class= "container">

  <h2><%= link_to("Wrocław - pokoje wynajem", "https://www.facebook.com/groups/facebuylubuskie") %></h2>
  <h3>wyświetliło: <%= @getall.count %></h3>

  <div class="list-group">
    <% @getall.each do |abc| %>
      <%= link_to(abc.linktooffer, class: "list-group-item") do %>

      <div class="row">
        <div class="col-md-2">
          <div class="profile">
            <p><%= image_tag("#{abc.userphoto}", class: "image-tag") %></p>
            <p><%= abc.username %></p>
          </div>
        </div>

        <div class="col-md-8 separator">

          <div class="offer-1"><b><%=  abc.updatedinfacebok %></b></div>
          <div class="offer-2"><%=  if abc.description1 == "" || abc.description1.size < 30
                                      abc.description2.truncate(520)
                                    else
                                      abc.description1.truncate(520)
                                    end %>
          </div>
          <div class="offer-3"><b> ilość komentarzy: <%= abc.number_of_comments.to_i %></b></div>
          </div>

        <div class="col-md-2">
          <div class="col-md-1 separator"><%= if abc.adsphoto != ""
                                                image_tag("#{abc.adsphoto}", class: "ads-photo")
                                              else
                                                image_tag("http://www.arapneumatik.pl/uploads/images/no-picture.gif", class: "ads-photo")
                                              end %>
          </div>
        </div>
      </div>

      <% end %>
    <% end %>
  </div>







</div>


