<div class= "container">

  <h2><%= link_to("Wrocław - pokoje wynajem", "https://www.facebook.com/groups/facebuylubuskie") %></h2>
  <h3>wyświetliło: <%= @getall.count %></h3>


<div class="list-group">

    <% @getall.each do |abc| %>


<a href="#{abc.linktooffer}" class="list-group-item">

<div class="row">
  <div class="col-md-2">
<div class="profile">
  <p><%= image_tag("#{abc.userphoto}", class: "image-tag") %></p>
  <p><%= abc.username %></p>
</div>


  </div>
  <div class="col-md-10">



  <div class="col-md-8 separator"><%=  abc.description1 ? abc.description1 : abc.description2 %></div>
  <div class="col-md-3 separator"><%= image_tag("#{abc.adsphoto}") %></div>
  <div class="col-md-1 separator"><%=  abc.updatedinfacebok.slice!(0..18).sub("T", " ") %></div>

  </div>
</div>

</a>

    <% end %>

</div>









</div>


