<div class= "container">

  <h2><%= link_to("Wrocław - pokoje wynajem", "https://www.facebook.com/groups/facebuylubuskie") %></h2>
  <h3>wyświetliło: <%= @getall.count %></h3>






  <div class="list-group">
    <% @getall.each do |abc| %>
      <%= link_to(abc.linktooffer, class: "list-group-item") do %>

      <div class="row">
        <div class="col-md-2">
          <div class="profile">
            <p><%= image_tag("#{abc.userphoto}", class: "image-tag") %></p>
            <p><%= abc.username %></p>
          </div>
        </div>

        <div class="col-md-8 separator">


            <div class="offer-1"><b><%=  abc.updatedinfacebok %></b></div>
            <div class="offer-2"><%=  abc.description1 ? abc.description1.truncate(520) : abc.description2.truncate(520) %></div>
            <div class="offer-3"><b> <%= if abc.description1



              abc.description1[/(?:[0-9]{5,9})|(?:[0-9]{3}\s+[0-9]{3}\s+[0-9]{3})|(?:[0-9]{3}-[0-9]{3}-[0-9]{3})|(?:[0-9]{2}\.[0-9]{2}\.[0-9]{4})|([0-9]{1}[,|\.]{0,}[0-9]{3}\s{0,}[zł|zl]{2})|([0-9]{3}\s{0,}-\s{0,}[0-9]{3}\s{0,}[zł|zl]{2})|([0-9]{3}\s{0,}[zł|zl]{2})/]

               else



             abc.description2[/(?:[0-9]{5,9})|(?:[0-9]{3}\s+[0-9]{3}\s+[0-9]{3})|(?:[0-9]{3}-[0-9]{3}-[0-9]{3})|(?:[0-9]{2}\.[0-9]{2}\.[0-9]{4})|([0-9]{1}[,|\.]{0,}[0-9]{3}\s{0,}[zł|zl]{2})|([0-9]{3}\s{0,}-\s{0,}[0-9]{3}\s{0,}[zł|zl]{2})|([0-9]{3}\s{0,}[zł|zl]{2})/]

end
                %>


                ilość komci: <%= abc.number_of_comments.to_i %></b></div>





          <!-- <div class="col-md-1 separator"></div> -->
        </div>



        <div class="col-md-2">
          <div class="col-md-1 separator"><%= image_tag("#{abc.adsphoto}") %></div>
        </div>
      </div>

      <% end %>
    <% end %>
  </div>







</div>


