<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Znaleziska</a>






    <div class="search">
      <ul>
        <li>
        	<%= form_tag(root_path, method: :get) do %>

          <%= label_tag(:dwuosobowy, "dwuosobowy") %>
          <%= check_box_tag(:dwuosobowy, '1', params[:dwuosobowy], class: "check-box-align-left") %>

          <%= label_tag(:chcewynajac, "chcę wynająć komuś") %>
          <%= check_box_tag(:chcewynajac, '1', params[:chcewynajac], class: "check-box-align-left") %>

          <%= submit_tag "Search", class: "btn btn-default" %>
          <% end %>
        </li>
      </ul>
    </div>




  </div>
</header>
