<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Znaleziska24</a>
    <div class="search-form">

      <%= form_tag(root_path, method: :get) do %>

      <font color="red"><b>Dla szukających:</b></font>

  <select class="selectpicker">
    <optgroup label="Picnic">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </optgroup>
    <optgroup label="Camping">
      <option>Tent</option>
      <option>Flashlight</option>
      <option>Toilet Paper</option>
    </optgroup>
  </select>


      <%= label_tag(:wynajmuje_jednoosobowy, "jednoosobowy") %>
      <%= check_box_tag(:wynajmuje_jednoosobowy, '1', params[:wynajmuje_jednoosobowy], class: "search-checkbox") %>

      <%= label_tag(:wynajmuje_dwuosobowy, "dwuosobowy") %>
      <%= check_box_tag(:wynajmuje_dwuosobowy, '1', params[:wynajmuje_dwuosobowy], class: "search-checkbox") %>

      <%= label_tag(:chce_znalezc_kawalerke_lub_mieszkanie, "kawalerka lub mieszkanie") %>
      <%= check_box_tag(:chce_znalezc_kawalerke_lub_mieszkanie, '1', params[:chce_znalezc_kawalerke_lub_mieszkanie], class: "search-checkbox") %>




      <font color="red"><b>Dla chcących wynająć:</b></font>

      <%= label_tag(:chcewynajac, "Ludzie szukający pokoju(mieszkania) lub kogoś do pokoju") %>
      <%= check_box_tag(:chcewynajac, '1', params[:chcewynajac], class: "search-checkbox") %>

      <%= label_tag(:chce_wynajac_pokoj_jednoosobowy, "pokój jednoosobowy") %>
      <%= check_box_tag(:chce_wynajac_pokoj_jednoosobowy, '1', params[:chce_wynajac_pokoj_jednoosobowy], class: "search-checkbox") %>

      <%= label_tag(:chce_wynajac_pokoj_dwuosobowy, "pokój dwuosobowy") %>
      <%= check_box_tag(:chce_wynajac_pokoj_dwuosobowy, '1', params[:chce_wynajac_pokoj_dwuosobowy], class: "search-checkbox") %>

      <%= label_tag(:chce_wynajac_kawalerke_mieszkanie, "kawalerka lub mieszkanie") %>
      <%= check_box_tag(:chce_wynajac_kawalerke_mieszkanie, '1', params[:chce_wynajac_kawalerke_mieszkanie], class: "search-checkbox") %>

      <%= label_tag(:chce_znalezc_miejsce_w_pokoju, "miejsca w pokoju") %>
      <%= check_box_tag(:chce_znalezc_miejsce_w_pokoju, '1', params[:chce_znalezc_miejsce_w_pokoju], class: "search-checkbox") %>



      <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>

    </div>
  </div>
</header>
