<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Znaleziska24</a>
    <div class="search-form">

      <%= form_tag(root_path, method: :get) do %>

      <%= label_tag(:dwuosobowy, "Dwuosobowy") %>
      <%= check_box_tag(:dwuosobowy, '1', params[:dwuosobowy], class: "search-checkbox") %>

      <%= label_tag(:chcewynajac, "Ludzie szukający pokoju(mieszkania) lub kogoś do pokoju") %>
      <%= check_box_tag(:chcewynajac, '1', params[:chcewynajac], class: "search-checkbox") %>

      <%= submit_tag "Search", class: "btn btn-default" %>
      <% end %>

    </div>
  </div>
</header>
